@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1{
  color: #333;
}
ul{
  list-style-type: none;
  padding: 0;
}
li{
  margin: 10px 0;
}
button{
  margin: 5px;
  padding: 5px 10px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}
button:hover{
  background-color: darkorchid;
  color:white;
}
/* styles.css */
.custom-audio::-webkit-media-controls-panel {
  background: linear-gradient(to bottom, orange,darkorchid );
}

.custom-audio::-webkit-media-controls-play-button,
.custom-audio::-webkit-media-controls-pause-button,
.custom-audio::-webkit-media-controls-mute-button,
.custom-audio::-webkit-media-controls-volume-slider {
  filter: hue-rotate(180deg) brightness(15);
  /* background-color: #0070f3;  */
}

/* .custom-audio::-webkit-media-controls-timeline {
  background: linear-gradient(to bottom, orange,darkorchid );
} */

.custom-audio::-webkit-media-controls-current-time-display,
.custom-audio::-webkit-media-controls-time-remaining-display {
  color: black;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scroller {
  --animation-duration: 20s;
  --animation-direction: forwards;
  position: relative;
  overflow: hidden;
}

.scroller ul {
  display: flex;
  flex-wrap: nowrap;
  gap: 4px;
  animation: scroll var(--animation-duration) linear infinite;
  animation-play-state: running;
}

.scroller ul.animate-scroll {
  animation-play-state: running;
}

.scroller ul.hover\:paused:hover {
  animation-play-state: paused;
}

.hover\:pop {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover\:pop:hover {
  transform: translateY(-15px) scale(1.1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
  z-index: 10; 
}